<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375585344643-pujpmildc1fankfe72f4l80iq0q8fv67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375585344643-pujpmildc1fankfe72f4l80iq0q8fv67</string>
	<key>API_KEY</key>
	<string>AIzaSyCHoZGd4fvg0RKSOeWZL6Poa900kC-w9hw</string>
	<key>GCM_SENDER_ID</key>
	<string>375585344643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportsApplication</string>
	<key>PROJECT_ID</key>
	<string>besports-841e2</string>
	<key>STORAGE_BUCKET</key>
	<string>besports-841e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375585344643:ios:5f1788c309b8e1e5ea9fb6</string>
</dict>
</plist>